<!DOCTYPE html>
<html>
  <head>
    <title>Landing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'landing', media: 'all' %>
  </head>

  <body>
    <%= yield %>
        <%= javascript_include_tag 'landing' %>

  </body>
</html>
